<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Home</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div>
    <div>
      <div>
      {% block sidebar %}
        <ul>
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
        <ul>
          <li><h2><a style="background-color: red;color: white;"  href="http://google.com">Google</a><h2></li>
        </ul>
     {% endblock %}
      </div>
	{{ number }}
      <div>{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>
